<% layout('layouts/boilerplate')%>
<body>
  <div class="container">
    <div class="bg-light p-5 rounded-lg m-3">
      <h1 class="display-4">Juxtaposed</h1>
      <p class="lead">
        An objective approach to music reviews.
      </p>
      <hr class="my-4" />
      <p></p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/reviews" role="button">Get started</a>
      </p>
    </div>
  </div>